@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-danger {
  background-color: #d44f41;
  border-color: #dc2626;
}

.btn-danger:hover {
  background-color: #b22923;
}

.btn-normal {
  border-color: rgba(156, 163, 175, 1);
  background-color: rgba(243, 244, 246, 1);
}

.btn-normal:hover {
  background-color: rgba(229, 231, 235, 1);
}

.card {
  margin-bottom: 1rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1.5rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.swiper-button {
  width: 27px;
  height: 44px;
  display: flex;  
  align-items: center;
  justify-content: center;
  color: #007aff;
}

.swiper-button-next::after {
  content: "‹";
  font-size: 44px;
}

.swiper-button-prev:after {
  font-size: 44px;
  content: "›";
}